:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./assets/fondo.png);
}

* {
  font-family:'Times New Roman', Times, serif;
}

/*Estilo para el formulario de contacto*/
h1 {
  text-align: center;
  color: #000000;
}

h4 {
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

img {
  display: block;
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 auto;
    margin-bottom: 30px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: radial-gradient(circle, #76b39d, #000000);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-bottom: 30px;
}

form > div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #f9f8eb;
}

form input[type="text"] {
  width: calc(100% - 20px);  /* Asegura que el input no sobresalga del contenedor */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;  /* Incluye el padding y border en el ancho total */
}

form button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #589e85;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #97c5b4;
  color: #000000;
}

/*Estilo para la tabla de contactos*/
.contacts-table {
  width: 80%;
  margin: auto;
}

.contacts-table h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #589e85;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3d8573;
}

button:focus {
  outline: none;
}

button.delete {
  background-color: #ff0019;
}

button.delete:hover {
  background-color: #740b15;
}